.edu-page{
    height:130vh;
}

.edu-icons{
    padding:10% 5% 2% 5%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    background-color: transparent;
}

.webdev-icon{
    height: 175px;
    width:175px;
    border-radius:50%;
    border-color: #EF6351;
    border-width: .5rem;
    border-style: solid;
}
.design-icon{
    height: 175px;
    width:175px;
    border-radius:50%;
    border-color: #EF6351;
    border-width: .5rem;
    border-style: solid;
}
.graphic-icon{
    height: 175px;
    width:175px;
    border-radius:50%;
    border-color: #EF6351;
    border-width: .5rem;
    border-style: solid;
}

.edu-head{
    width:33vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    background-color: transparent;
}

.edu-details{
    width:18vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    background-color: transparent;
}

.edu-info{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.etitle{
    background-color: transparent;
    font-family: 'Oswald', sans-serif !important;
    font-size:1.3rem;
    font-weight:700;
    letter-spacing: .20rem;
    width:20vw;
    text-align: center;
    line-height: 1.5rem;
    padding-bottom:2%;
}

.eschool{
    font-family: 'Montserrat', sans-serif !important;
    font-size:.9rem;
    text-align:right;
    font-weight:400;
    width:15vw;
    text-align: center;
    line-height: 1.2rem;
}
.edate{
    background-color: transparent;
    font-family: 'Oswald', sans-serif !important;
    font-size:.8rem;
    font-weight:700;
    letter-spacing: .25rem;;
    width:20vw;
    text-align: center;
    line-height: 2rem;
}
.cv-qr-code{
    background-color:transparent;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
    box-sizing:border-box;
    border-style:dotted;
    border-width:.2rem;
    border-color: #ef6351;
    border-radius: .5rem;

}
.cv-img{
    /* box-sizing:border-box;
    border-style:solid;
    border-width:.5rem;
    border-color: #ffe0d7;
    border-radius: .5rem; */
    margin-top:8vh;
    margin-bottom: 8vh;
}

@media (max-width: 800px) {
    .edu-icons{
        padding:25% 5% 2% 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        background-color: transparent;
    }
    .webdev-icon{
        height: 75px;
        width:75px;
        border-radius:50%;
        border-color: #EF6351;
        border-width: .15rem;
        border-style: solid;
    }
    .design-icon{
        height: 75px;
        width:75px;
        border-radius:50%;
        border-color: #EF6351;
        border-width: .15rem;
        border-style: solid;
    }
    .graphic-icon{
        height: 75px;
        width:75px;
        border-radius:50%;
        border-color: #EF6351;
        border-width: .15rem;
        border-style: solid;
    }
    .edu-head{
        width:30vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: transparent;
    }
    
    .edu-details{
        /* width:18vw; */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: transparent;
    }
    
    .edu-info{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: center;
        padding-bottom: 10%;
    }
    
    .etitle{
        background-color: transparent;
        font-family: 'Oswald', sans-serif !important;
        font-size:.7rem;
        font-weight:700;
        letter-spacing: .20rem;
        text-align: center;
        line-height: 1.5rem;
        padding-bottom:2%;
        width: 25vw;
    }
    
    .eschool{
        font-family: 'Montserrat', sans-serif !important;
        font-size:.5rem;
        text-align:right;
        font-weight:400;
        width:25vw;
        text-align: center;
        line-height: 1.2rem;
        padding-bottom:1%;
    }
    .edate{
        background-color: transparent;
        font-family: 'Oswald', sans-serif !important;
        font-size:.8rem;
        font-weight:700;
        letter-spacing: .25rem;;
        width:20vw;
        text-align: center;
        line-height: 2rem;
    }
    
    .cv-qr-code{
        background-color:transparent;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    
    }
    .cv-img{
        margin-top:6vh;
        margin-bottom: 5vh;
    }
}