.background{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.bkgrd-left{
    width: 48vw;
    height:90vh;
    background-color: #EF6351;
}

.bkgrd-right{
    width:48vw;
    height:90vh;
    background-color: #E3E1E1;
}



.greeting{
    position: absolute;
    display:flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
    width:22vw;
    height:85vh;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 10rem;
    font-weight: 900;
    line-height:8rem;
    letter-spacing: 1rem;
}

.ya{
    position: relative;
    display:flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-between;
    background-color: transparent;
    width:20vw;
}

.dot{
    color: #EF6351;
}

.scroll-bar{
    position: absolute;
    display:flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: space-between;
	align-content: space-between;
    width:5vw;
    height:85vh;
    background-color: transparent;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .2rem;
    margin-right: 5%;
}
.scroll-para{
    transform: rotate(-90deg);
    margin: 20%;
    color: white;
    letter-spacing: .1rem;
    background-color: transparent;
}

.scroll{
    color: white;
    box-sizing: border-box;
    background-color: transparent;
    border-style: hidden;
}

.scroll:hover{
    transform: scale(1.2);
    
}

.arrow{
    margin:10%;
    padding: 15%;
    background-color: transparent;
}
.landing-footer{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: flex-start;
    width: 96vw;
    height: 8vh;
    background-color: transparent;
    padding-bottom:1%;
}

.job-titles{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: flex-start;
    background-color: transparent;
    width:50vw;
    line-height: 2rem;
}

.job{
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    letter-spacing: 2.2px;
    font-weight: 600;
    padding:3%;
}

.open-modal{
    width: 50vw;
    height:50vh;
    background:#ffe0d7;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}
.modal-message{
    font-family: "Sacramento", cursive !important;
    font-size: 3rem;
    z-index: 3;
    color: #EF6351;
    letter-spacing: 2.2px;
    font-weight: 900 !important;
    padding: 5% 10% 0 10%;
    text-align: center;
    
}
.modal-message-1{
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: .8rem !important;
    letter-spacing: 1.2px;
    line-height:1.5rem;
    font-weight: 200 !important;
    padding: 3% 15% 0 15%;
    text-align: justify;
    
}
.modal-btn{
    position: absolute;
    left: 0;
    bottom: 6;
    background-color: transparent;
    border-color: #EF6351;
    border-radius: 10rem;
    z-index:10;
    height:4vh;
    
}
.btn-type{
    font-family: "Montserrat", sans-serif;
    color: #EF6351;
    font-size: .4rem !important;
    letter-spacing: 2.2px;
    font-weight: 600 !important;
    margin-top:-.5vh !important; 
}

@media screen and (min-width: 800px) and (max-width: 1000px){
    .background{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
    }
    
    .bkgrd-left{
        width: 48vw;
        height:90vh;
        background-color: #EF6351;
    }
    
    .bkgrd-right{
        width:48vw;
        height:90vh;
        background-color: #E3E1E1;
    }
    .greeting{
        position: absolute;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        width:22vw;
        height:85vh;
        background-color: transparent;
        font-family: "Montserrat", sans-serif;
        font-size: 8rem;
        font-weight: 900;
        line-height:8rem;
        letter-spacing: 1rem;
    }
    
    .ya{
        position: relative;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: space-between;
        background-color: transparent;
        width:20vw;
    }
    
    .dot{
        color: #EF6351;
    }

    .scroll-bar{
        position: absolute;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: space-between;
        align-content: space-between;
        width:5vw;
        height:85vh;
        background-color: transparent;
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: .8rem;
        font-weight: 400;
        letter-spacing: .2rem;
        margin-left: -10%;
    }
    .scroll-para{
        transform: rotate(-90deg);
        margin-right:-20% !important;
        width: 50px;
        height: 50px;
        margin-top: 20%;
        color: white;
        letter-spacing: .1rem;
        background-color: transparent;
    
    }
    
    .scroll{
        color: white;
        box-sizing: border-box;
        background-color: transparent;
        border-style: hidden;
    }
    
    .scroll:hover{
        transform: scale(1.2);
        
    }
    
    .arrow{
        margin-left:-20%;
        padding: 15%;
        background-color: transparent;
    }
    .landing-footer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: flex-start;
        width: 96vw;
        height: 6vh;
        background-color: transparent;
        padding-bottom:1%;
    }
    .job{
        font-family: "Montserrat", sans-serif;
        font-size: 0.5rem;
        letter-spacing: 2.2px;
        font-weight: 600;
        padding:3%;
    }
}

@media (max-width: 800px) {
    .background{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
    }
    
    .bkgrd-left{
        width: 48vw;
        height:90vh;
        background-color: #EF6351;
    }
    
    .bkgrd-right{
        width:48vw;
        height:90vh;
        background-color: #E3E1E1;
    }
    .greeting{
        position: absolute;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        width:22vw;
        height:85vh;
        background-color: transparent;
        font-family: "Montserrat", sans-serif;
        font-size: 6rem;
        font-weight: 900;
        line-height:5rem;
        letter-spacing: .25rem;
        margin-left:-10%;
    }
    
    .ya{
        position: relative;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: space-between;
        background-color: transparent;
        width:20vw;
    }
    
    .dot{
        color: #EF6351;
    }
    .scroll-bar{
        position: absolute;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: space-between;
        align-content: space-between;
        width:5vw;
        height:85vh;
        background-color: transparent;
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: .8rem;
        font-weight: 400;
        letter-spacing: .2rem;
        margin-left: -10%;
    }
    .scroll-para{
        transform: rotate(-90deg);
        margin-right:-20% !important;
        width: 50px;
        height: 50px;
        margin-top: 20%;
        color: white;
        letter-spacing: .1rem;
        background-color: transparent;
    
    }
    
    .scroll{
        color: white;
        box-sizing: border-box;
        background-color: transparent;
        border-style: hidden;
    }
    
    .scroll:hover{
        transform: scale(1.2);
        
    }
    
    .arrow{
        margin-left:-1vw;
        background-color: transparent;
    }
    .landing-footer{
        width: 90vw;
        height: 6vh;
        background-color: transparent;
    }
    .job{
        font-family: "Montserrat", sans-serif;
        font-size: 0.4rem;
        letter-spacing: 2.2px;
        font-weight: 600;
        padding:3%;
        line-height:.52rem;
    }
}
