.bkgrd-left3{
    width: 28vw;
    height:100vh;
    background-color: #EF6351;
}

.bkgrd-right3{
    width:67vw;
    height:100vh;
    background-color: transparent;
}


.client-skill{
    position: absolute;
    padding-top: 18%;
    left:10%;
    display:flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
    color: black;
    width:22vw;
    height:85vh;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-size:6.5rem;
    font-weight: 900;
    line-height:4.5rem;
    letter-spacing: .25rem;
    z-index: 2;
}
.c{
    font-size: 7rem;
    margin-left:-2% !important;
    line-height: 5.5rem;
}
.skills3{
    display:flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-around;
    background-color: transparent;
    width:20vw;
    font-family: "Sacramento", cursive !important;
    font-size: 5.5rem;
    line-height: 8rem;
    z-index: 3;
    color: black;
}

.dot5{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    font-weight: 900;
    line-height: 7rem;
    padding-left:6%;
    z-index: 2;
}

.client-details{
    width:64vw;
    height:120vh !important;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
    background-color: transparent;
    padding:20% 6% 20% 25%;
    text-align:right;
}

.client-header{
    font-family: 'Biryani', sans-serif !important;
    font-size:2rem;
    padding-bottom: 10%;
    padding-left:10%;
    text-align:right;
    font-weight:700;
    line-height: 2.5rem;
}

.client-para{
    font-family: 'Montserrat', sans-serif !important;
    font-size:.8rem;
    text-align:right;
    font-weight:300;
    line-height: 1.5rem;
}

.inv-para{
    padding: 5% 0 0 0;
}

.business-bullets{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
    background-color: transparent;
    padding-bottom: 5%;
}

.client-exp{
    width: 35vw;
    margin-left: 5%;
    padding: 3%;
    background-color:transparent;
}
.group-title{
    font-family: 'Biryani', sans-serif !important;
    font-size:1.2rem;
    padding: 10% 0 5% 0;
    font-weight:700;
    background-color: transparent;
    text-align: left;
    color: #EF6351;
}
.group-bullet{
    font-family: 'Montserrat', sans-serif !important;
    font-size:.9rem;
    padding-bottom: 5%;
    line-height: 1.5rem;
    text-align:left;
    font-weight:400;
    background-color: transparent;
}
