.background4{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    width: 95vw !important;
    height: 130vh !important;
    overflow: hidden;
    z-index:-1 !important;
}
.development-skill{
    position: absolute;
    padding-top: 30vh;
    left:10vw;
    display:flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
    color: black;
    width:35vw;
    height:120vh;
    background-color:transparent;
    font-family: "Roboto", sans-serif;
    font-size: 10rem;
    font-weight: 200;
    line-height:.75em;
    z-index: 3 !important;
}
.skills2{
    display:flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-around;
    background-color: transparent;
    width:20vw;
    font-family: "Sacramento", cursive !important;
    font-size: 5.5rem;
    line-height: 6rem;
    z-index: 3;
    color: black;
}
.dot4{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    font-weight: 600;
    line-height: 5rem;
    padding-left:6%;
    z-index: 2;
}
.dev-bullets{
    position: absolute;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-end;
    padding: 7%;
    margin-left:50vw;
    width:40vw;
    margin-top:-70%;
    background-color: transparent;
}
.column-one{
    line-height:2rem;
    text-align: right; 
}
.column-two{
    line-height: 2rem;
    text-align: left;
    padding-left:4vw;
}
.dev-title{
    font-family: 'roboto', sans-serif !important;
    font-size:2rem;
    font-weight:400;
    letter-spacing: .20rem;
    width:25vw;
    height: 12vh;
    line-height: 3rem !important;
    margin-top: 5vh;
    color: #EF6351;
    background-color: transparent;
}
.dev-bullet{
    background-color: transparent;
    font-family: 'Montserrat', sans-serif !important;
    font-size:1rem;
    font-weight:400;
    padding: 2% 0 0 0;
}
.dev-bullet1{
    background-color: transparent;
    font-family: 'Montserrat', sans-serif !important;
    font-size:1rem;
    font-weight:400;
    text-align: left;
    padding: 2% 0 0 0;
}

@media (max-width: 600px) {
.background4{
    width: 110vw !important;
    height: 150vh !important;
    overflow: hidden;
    z-index:-2 !important;
}
.development-skill{
    padding-top:45vh !important;
    height: 85vh;
    background-color: transparent;
    font-size: 5rem;
    font-weight: 200;
    z-index: 5 !important;
}
.skills2{
    font-size: 5rem;
}
.dot4{
    font-size: 4.5rem;
    padding-left:15%;
}
.dev-bullets{
    position: absolute;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-end;
	align-content: flex-end;
    padding: 7%;
    margin-left:30vw !important;
    width:80vw;
    margin-top:-120vh;
    background-color: transparent;
}
.column-one{
    line-height:2rem;
    text-align: right !important; 
}
.column-two{
    line-height: 2rem;
    text-align: right !important;
    padding-left:0vw;
}
.dev-title{
    font-size:1rem;
    width:55vw !important;
    height: 6vh;
    margin-top: 3vh;
    background-color: transparent;
}
.dev-bullet{
    font-size:.9rem;
}
.dev-bullet1{
    background-color: transparent;
    font-size:.9rem;
    text-align: right !important;
}
#platforms{
    height: 10vh;
    line-height: 2rem !important;
    padding-top: 2vh;
}
}

@media screen and (min-width: 600px) and (max-width: 800px){
    .background4{
        width: 100vw !important;
        height: 100vh !important;
        overflow: hidden;
        z-index:-2 !important;
    }
    .development-skill{
        padding-top:45vh !important;
        height: 85vh;
        background-color: transparent;
        font-size: 5rem;
        font-weight: 200;
        z-index: 5 !important;
    }
    .skills2{
        font-size: 5rem;
    }
    .dot4{
        font-size: 4.5rem;
        padding-left:15%;
    }
    .dev-bullets{
        position: absolute;
        background-color: transparent;
    }
    .dev-title{
        font-size:1rem;
    }
    .dev-bullet{
        font-size:.9rem;
    }
    .dev-bullet1{
        background-color: transparent;
        font-size:.9rem;
    }
    #platforms{
        height: 15vh !important;
        line-height: 1.5rem !important;
        padding-top: 2vh;
    }
    .column-one{
        margin-top: -50vh !important;
    }
    .column-two{
        margin-top: -45vh !important;
        padding-left:3vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px){
    .background4{
        width: 100vw !important;
        height: 200vh !important;
        overflow: hidden;
        z-index:-2 !important;
    }
    .development-skill{
        padding-top:45vh !important;
        height: 85vh;
        background-color: transparent;
        font-size: 5rem;
        font-weight: 200;
        z-index: 5 !important;
    }
    .skills2{
        font-size: 5rem;
    }
    .dot4{
        font-size: 4.5rem;
        padding-left:15%;
    }
    .dev-bullets{
        position: absolute;
        background-color: transparent;
    }
    .dev-title{
        font-size:1rem;
    }
    .dev-bullet{
        font-size:.9rem;
    }
    .dev-bullet1{
        background-color: transparent;
        font-size:.9rem;
    }
    #platforms{
        height: 15vh !important;
        line-height: 1.5rem !important;
        padding-top: 2vh;
    }
    .column-one{
        margin-top: -130vh !important;
    }
    .column-two{
        margin-top: -90vh !important;
        padding-left:3vw;
    }
}



@media screen and (min-width: 900px) and (max-width: 1100px){

}