.background-work{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}
.bkgrd-left-work{
    width: 68vw;
    height:205vh;
    background-color: white;
}
.bkgrd-right-work{
    width:50vw;
    height:205vh;
    background-color: #E3E1E1;
}
.work-heading{
    position: absolute;
    display:flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
    width:95vw;
    height:45vh;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-size:7rem;
    font-weight: 900;
    line-height:5rem;
    letter-spacing: .25rem;
    color: #EF6351;
    padding-left: 2%;
    padding-top: 25%;
}
.work-subtitle{
    position: relative;
    display:flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-between;
    background-color: transparent;
    width: 80vw;
}
.subtitle-1{
    font-family: "Sacramento", cursive !important;
    color: #EF6351;
    font-size: 4.9rem;
    font-weight: 00;
    line-height:2.5rem;
    letter-spacing: .25rem;
    margin-top:5%;
    transform: skew(-15deg);
}
.dot12{
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    font-weight: 900;
    z-index: 2;
    padding-left: 2vw !important;
    padding-top: 4vh;
}
.gallery-info{
    position: absolute;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    background-color: transparent;
}
.proj-pic{
    width: 25vw !important;
    height:25vh !important;
    overflow:hidden;
    background-color:transparent;
    margin-top:8vh;
}
.proj-icon{
    object-fit:cover !important;
    width: 25vw !important;
    height:25vh !important;
    overflow:hidden;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
}
.first-column{
    margin-top:8vh;
}
.second-column{
    margin-top:8vh;
    margin-right: 4vw;
    margin-left: 4vw;
}
.third-column{
    margin-top: 8vh;
}
.proj-deets{
    height: 20vh;
    width: 25vw;
    line-height: 1.2rem;
    padding-top: 2%;
    padding-right:2%;
    padding-left:2%;
    background-color: transparent;
    margin-top: 3.2vh;
}
.proj-title{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height:1.7rem;
    letter-spacing: .25rem;
    color: #EF6351;
    padding-bottom: 7%;
}
.proj-details{
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height:1.5rem;
    letter-spacing: .15rem;
    color:black;
    padding-bottom: 1%;
}
.proj-date{
    font-family: "Montserrat", sans-serif;
    font-size: .7rem;
    font-weight: 400;
    line-height:1.2rem;
    letter-spacing: .1rem;
    color: rgb(105, 104, 104);
    padding-bottom: 3%;
}
.more-photos-btn{
    padding:0 0 10vh 0;
}
.project-overview{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align:center;
    padding:10% 18% 8% 18%;
}
.photo-btn{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    padding: 1% 2% 1% 2%;
    border-style: 0.05rem solid !important;
    border-color: #FBC3BC !important;
    border-radius:0.5rem;
    cursor:pointer;
    font-size:.8rem;
    background-color: transparent !important;
}
.photo-btn:hover{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: 0.05rem solid #EF6351 !important;
    border-radius:0.5rem;
    cursor:pointer;
    font-size:.8rem;
    background-color: #EF6351 !important;
    color: white;
}

@media (max-width: 900px) {
.work-heading{
    font-size:3rem !important;
    font-weight: 900;
    line-height:3rem !important;
    letter-spacing: .25rem;
    margin-top: 25vh !important;
}
.subtitle-1{
    /* padding-top: 5% !important; */
    font-size: 2.2rem !important;
    line-height:2.2rem !important;
    text-align: left;
}
.dot12{
    color: transparent !important;
}
.gallery-info{
    margin-top:-10vh;
}
.proj-title{
    font-size: .9rem;
    font-weight: 800;
    line-height:1.5rem;
    padding-bottom: 5%;
}
.proj-details{
    font-size: .5rem;
    font-weight: 400;
    line-height:.9rem;
    letter-spacing: .075rem;
    padding-bottom: 3%;
}
.proj-date{
    font-size: .4rem;
    font-weight: 400;
    line-height:.75rem;
    letter-spacing: .05rem;
    padding-bottom: 5% !important;
}
.bkgrd-left-work{
    width: 68vw;
    height:200vh;
    background-color: white;
}
.bkgrd-right-work{
    width:50vw;
    height:200vh;
    background-color: #E3E1E1;
}
}