.background-work{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    /* position:absolute; */
}

.bkgrd-left-work{
    width: 68vw;
    height:275vh;
    background-color: white;
}

.bkgrd-right-work{
    width:50vw;
    height:275vh;
    background-color: #E3E1E1;
}


.work-heading{
    position: absolute;
    display:flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
    width:95vw;
    height:45vh;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-size:7rem;
    font-weight: 900;
    line-height:4.5rem;
    letter-spacing: .5rem;
    color: #EF6351;
    padding-left: 2%;
    padding-top: 25%;
}

.rk{
    position: relative;
    display:flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-between;
    background-color: transparent;
    width:20vw;
}

.dot6{
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    font-weight: 900;
    z-index: 2;
    padding-left: 1%;
    /* padding-right:17%; */
}

.work-subtitle{
    font-family: "Sacramento", cursive !important;
    color: #EF6351;
    /* font-size: 5.5rem; */
    /* line-height: 8rem; */
    font-size: 4.9rem;
    font-weight: 00;
    line-height:1.5rem;
    letter-spacing: .25rem;
    margin-top:3%;
    margin-bottom:-5%;
    transform: skew(-15deg);
}
.rk{
    position: relative;
    display:flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-between;
    background-color: transparent;
    width: 80vw;
}

.gallery-info{
    position: absolute;
    /* width:100vw; */
    /* padding-left: 2%; */
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    background-color: transparent;
}
.proj-pic{
    width: 25vw !important;
    height:25vh !important;
    overflow:hidden;
    background-color:transparent;
    margin-top:8vh;
}

.proj-icon{
    object-fit:cover !important;
    width: 25vw !important;
    height:25vh !important;
    overflow:hidden;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
}

/* .proj-pic:hover{
    box-sizing: border-box;
    border-style: solid;
    border-color: #5a5757 !important;
} */

/* .project-deets:hover{
    background-color: transparent;
    transform: scale(1.2);
    box-sizing: border-box;
    border-style: solid;
    border-color: #EF6351 !important;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);

} */


.first-column{
    margin-top:8vh;
}
.second-column{
    margin-top:8vh;
    margin-right: 4vw;
    margin-left: 4vw;

}
.third-column{
    margin-top: 8vh;
}

.proj-deets{
    height: 20vh;
    width: 25vw;
    line-height: 1.2rem;
    padding-top: 2%;
    padding-right:2%;
    padding-left:2%;
    background-color: transparent;
    margin-top: 3.2vh;
}

.proj-title{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height:1.7rem;
    letter-spacing: .25rem;
    color: #EF6351;
    padding-bottom: 7%;
}

.proj-details{
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height:1.5rem;
    letter-spacing: .15rem;
    color:black;
    padding-bottom: 1%;
}

.proj-date{
    font-family: "Montserrat", sans-serif;
    font-size: .7rem;
    font-weight: 400;
    line-height:1.2rem;
    letter-spacing: .1rem;
    color: rgb(105, 104, 104);
    padding-bottom: 3%;
}