.background2{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.bkgrd-left2{
    width: 34vw;
    height:120vh;
    background-color: #ef6351;
}

.bkgrd-right2{
    width:62vw;
    height:120vh;
    background-color: white;
}

.about{
    position: absolute;
    padding-top:15vh;
    left:5%;
    display:flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
    height:85vh;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 6rem;
    font-weight: 900;
    line-height:4.5rem !important;
    letter-spacing: .25rem;
    z-index: 5 !important;
}

.me{
    display:flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-around;
    background-color: transparent;
    width:20vw;
    font-family: "Sacramento", cursive !important;
    font-size: 8rem;
    line-height: 3.5rem !important;
    z-index: 3;
}

.dot2{
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    font-weight: 900;
    line-height: 4rem !important;
    padding-left:6%;
    z-index: 2;
}

.profile-pic{
    z-index: -1;
}

.prof-pic{
    width: 34vw !important;
    overflow:hidden;
    z-index: -1;
    margin-left:-6vw;
    padding-top: 5vh;
}

.about-details{
    width:58vw;
    height:120vh !important;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
    background-color: transparent;
    padding:18% 6% 20% 25%;
    text-align:right;
}

.about-header{
    font-family: 'Biryani', sans-serif !important;
    font-size:1.5rem;
    padding-bottom: 4vh;
    text-align:right;
    font-weight:800;
    line-height: 2.5rem;
    background-color:transparent;
}

.about-para{
    font-family: 'Montserrat', sans-serif !important;
    font-size:.7rem;
    text-align:right;
    font-weight:500;
    line-height: 1.7rem;
    padding-bottom: 5%;
}

.inv-para{
    padding: 3% 0 3% 0;
}


.about-scroll-bar{
    position: absolute;
    display:flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: space-between;
	align-content: space-between;
    width:5vw;
    height:100vh;
    background-color: transparent;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: .1rem;
    margin-right: 5%;
}
.about-scroll-para{
    transform: rotate(-90deg);
}
.about-scroll{
    color: black;
    box-sizing: border-box;
    background-color: transparent;
    border-style: hidden;
    padding: 10%;
}

.about-scroll:hover{
    transform: scale(1.2) !important;
}

.about-scroll-arrow{
    transform: rotate(-90deg);
    margin-bottom: 30%;
    color: black;
    box-sizing: border-box;
    background-color: transparent;
    border-style: hidden;
    letter-spacing: .1rem;
}
.about-arrow{
    padding: 10%;
}




@media screen and (min-width: 800px) and (max-width: 1100px){
    .background2{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
    }
    
    .bkgrd-left2{
        width: 34vw;
        height:100vh;
        background-color: #ef6351;
    }
    
    .bkgrd-right2{
        width:62vw;
        height:100vh;
        background-color: white;
    }
    .about{
        margin-top:10% !important;
        left:5%;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        height:85vh;
        background-color: transparent;
        font-family: "Montserrat", sans-serif;
        font-size: 3rem;
        font-weight: 900;
        line-height:2rem !important;
        letter-spacing: .25rem;
        z-index: 5 !important;
    }
    
    .me{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: space-around;
        background-color: transparent;
        width:20vw;
        font-family: "Sacramento", cursive !important;
        font-size: 5rem;
        line-height: 2rem !important;
        z-index: 3;
    }
    
}

@media (max-width: 800px) {
    .background2{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
    }
    
    .bkgrd-left2{
        width: 24vw;
        height:150vh;
        background-color: #ef6351;
    }
    
    .bkgrd-right2{
        width:72vw;
        height:150vh;
        background-color: white;
    }
    .about{
        /* position: absolute; */
        padding-top:25% !important;
        left:5%;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        height:85vh;
        background-color: transparent;
        font-family: "Montserrat", sans-serif;
        font-size: 3rem;
        font-weight: 900;
        line-height:2rem !important;
        letter-spacing: .25rem;
        z-index: 5 !important;
    }
    
    .me{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: space-around;
        background-color: transparent;
        width:20vw;
        font-family: "Sacramento", cursive !important;
        font-size: 5rem;
        line-height: 2rem !important;
        z-index: 3;
    }
    
    .dot2{
        font-family: "Montserrat", sans-serif;
        font-size: 3rem;
        font-weight: 900;
        line-height: 2rem !important;
        padding-left:6%;
        z-index: 2;
    }
    
    .about-details{
        width:72vw;
        height:150vh !important;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        background-color: transparent;
        /* padding:20% 6% 20% 25%; */
        text-align:left !important;
        z-index: 2;
    }
    
    .about-header{
        font-family: 'Biryani', sans-serif !important;
        margin-top: 50vh;
        font-size:1rem;
        text-align:right;
        font-weight:700;
        line-height: 1.5rem;
        margin-left: -15vw;
    }
    
    .about-para{
        font-family: 'Montserrat', sans-serif !important;
        font-size:.8rem;
        text-align:right;
        font-weight:300;
        line-height: 1.5rem;
        margin-left: -15vw;
        z-index:2;
        padding-bottom: 5vh
    }
    
    .inv-para{
        padding: 3% 0 0 0  !important;
        z-index:2;
    }
    .profile-pic{
        z-index: -1;
    }
    
    .prof-pic{
        width: 24vh !important;
        overflow:hidden;
        z-index: -1;
        padding-top:15%;
        margin-left:-25vw;
    }
}
