.test-header{
    width: 96vw;
    height: 18vh;
    background-color: transparent;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: center;
}

.test-title{
    font-family: "Sacramento", cursive !important;
    color: #EF6351;
    font-size: 4.7rem;
    font-weight: 600;
    line-height:1.5rem;
    letter-spacing: .4rem;
    margin-top:3%;
    transform: skew(-15deg);
}

.carousel{
    margin-bottom: 18% !important;
    margin-top:2% !important;
}
.slider{
    height: 80vh !important;
}

.image-slider {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    visibility: visible;
    background-size: cover;
    width: 100vw;
    display: contain;
    overflow: hidden;
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    margin: 15px;
    font-size: 1rem;
}

.carousel-caption {
    position: absolute;
    margin-bottom: 8%;
    text-align: right;
    color: black;
}

.quote{
    position: absolute;
    width: 60vw;
    height: 5vh;
    padding-right:15%;
    text-align: center !important;
    background-color: transparent;
    margin-right: 32vw;
    font-family: 'Catamaran', sans-serif;
    color: #EF6351;
    font-weight: 900;
    font-size: 5rem;
    margin-bottom:20vh !important;
    transform: rotate(-180deg);
}

.quote-2{
    font-family: 'Catamaran', sans-serif;
    color: #EF6351;
    font-weight: 900;
    font-size: 5rem;
    line-height:2rem;
}

.cc-1 {
color: black;
font-size: 1.8rem;
line-height: 6rem;
font-family: "Montserrat", sans-serif;
font-weight: 900;
padding-bottom: 1%;
}

.cc-2 {
color: black;
line-height: 2rem;
padding-left: 50%;
font-family: 'Montserrat', sans-serif !important;
font-size:.8rem;
text-align:right;
font-weight:300;
padding-bottom: 2%;
}

.cc-3 {
    color: black;
    line-height: 2.2rem;
    padding-left: 50%;
    font-family: 'Montserrat', sans-serif !important;
    font-size:.9rem;
    text-align:right;
    font-weight:500;
    }

@media (max-width: 800px) {
.test-title{
    font-size: 2.5rem;
    font-weight: 600;
    line-height:1.5rem;
    letter-spacing: .4rem;
    margin-top:3%;
    transform: skew(-15deg);
}
.carousel-caption{
    background-color: transparent;
}
.quote{
    display:hidden;
    color: transparent;
}
.quote-2{
    display:hidden;
    color: transparent;
}
.cc-1 {
    font-size: 1rem;
    line-height: 2rem;
    padding-bottom: 1%;
    width: 70vw;
    text-align: right;
}
.cc-2 {
    color: black;
    line-height: 1rem;
    font-size:.8rem;
    font-weight:300;
    padding-bottom: 2%;
    padding-left: 0 !important;
    background-color:transparent;
    width: 70vw;
} 
.cc-3 {
    color: black;
    line-height: 2.2rem;
    font-family: 'Montserrat', sans-serif !important;
    font-size:.9rem;
    text-align:right;
    font-weight:500;
}
#caro-2{
    width: 70vw;
    margin-bottom: 25vh !important;
}
#caro-1{
    width: 70vw;
    margin-bottom: 15vh !important;
}
#caro-3{
    width: 70vw;
    margin-bottom: 20vh !important;
}
    }