.workit-title{
    padding-top:5%;
    padding-left:2%;
    display:flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
    color: #EF6351;
    width:60vw;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 6rem;
    font-weight: 900;
    line-height:5.25rem;
    letter-spacing: .25rem;
    z-index: 2;
}
.workit-title-two{
    display:flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-around;
    width:90vw;
    padding-bottom:5%;
    background-color: transparent;
    font-family: "Sacramento", cursive !important;
    color: #EF6351;
    font-size: 4.2rem;
    line-height: 5rem;
    font-weight: 600;
    letter-spacing: .25rem;
}

.proj-dot-1{
    color: #EF6351;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    padding-left:2%;
    z-index: 2;
    transform: none !important; 
}
.image-wrapper{
    height:60vh;
    background-color:transparent;
}
.banner-img{
    width:95vw;
    height: 60vh;
    object-fit:cover;
    overflow:hidden;
    background-color:transparent;
}

.more-photos-btn{
   padding-top:15%;
}
.photo-btn{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    padding: 1% 2% 1% 2%;
    border-style: 0.05rem solid !important;
    border-color: #FBC3BC !important;
    border-radius:0.5rem;
    cursor:pointer;
    font-size:.8rem;
    background-color: transparent !important;
}
.photo-btn:hover{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: 0.05rem solid #EF6351 !important;
    border-radius:0.5rem;
    cursor:pointer;
    font-size:.8rem;
    background-color: #EF6351 !important;
    color: white;
}



.project-overview{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
    text-align:center;
    padding:10% 22% 10% 22%;
}
.proj-para{
    padding:2%;
    font-family: 'Montserrat', sans-serif !important;
    font-size:1.2rem !important;
    font-weight:300;
    letter-spacing:.05rem;
    line-height: 2.5rem;
    background-color: transparent;
}
.proj-para-1{
    padding:2%;
    font-family: 'Montserrat', sans-serif !important;
    color: #EF6351 !important;
    font-size:1.5rem !important;
    padding-bottom: 5%;
    font-weight:700 !important;
    letter-spacing:.05rem;
    line-height: 2.9rem;
    background-color: transparent;
}

.project-overview-details-body{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
    text-align:center;
    padding:15% 20% 0 20%;
}
.proj-para-1-body{
    font-family: 'Montserrat', sans-serif !important;
    color: #EF6351 !important;
    font-size:1.5rem !important;
    font-weight:700 !important;
    letter-spacing:.05rem;
    line-height: 2.9rem;
    background-color: transparent;
}
.proj-para-body{
    padding:2%;
    font-family: 'Montserrat', sans-serif !important;
    font-size:1rem;
    font-weight:300;
    letter-spacing:.05rem;
    line-height: 2rem;
    background-color: transparent;
}
.proj-para-2{
    padding:2% 15% 5% 15%;
    font-family: 'Montserrat', sans-serif !important;
    font-size:.8rem;
    font-weight:300;
    letter-spacing:.05rem;
    background-color: transparent;
}

.proj-para-2-body{
  color:#EF6351;
  font-family: "Sacramento", cursive !important;
  font-size: 4.2rem;
  line-height: 4.5rem;
  font-weight: 600;
  letter-spacing: .25rem;
  transform: skew(-15deg); 
  padding-top:5%;
}



.img-container{
    padding-top:5%;
}
.image-wrapper-body{
    height:80vh;
    background-color:transparent;
}
.banner-img-body{
    width:95vw;
    height: 80vh;
    object-fit:cover;
    overflow:hidden;
    background-color:transparent;
    margin-bottom:5%;
}

@media (max-width: 900px) {
    .workit-title{
        font-size:3rem !important;
        font-weight: 900;
        line-height:3rem !important;
        letter-spacing: .25rem;
        padding-top: 25vh !important;
    }
    .workit-title-two{
        padding-top: 5% !important;
        font-size: 2rem !important;
        line-height:2.2rem !important;
        text-align: left;
    }
    .proj-dot-1{
        color: transparent !important;
    }
    .project-overview{
        padding: 10% 5% 10% 5% !important;
    }
    .project-overview-details{
        padding-bottom: 5% !important;
    }
    .proj-para-1{
        font-size:1rem !important;
        padding-bottom: 5%;
        font-weight:700 !important;
        letter-spacing:.25rem;
        line-height: 2rem;
        background-color: transparent;
    }
    .proj-para{
        padding: 0 5% 2% 5% !important;
        font-size:.8rem !important;
    }
    .project-overview-details-body{
        margin-top: 30vh;
    }
    }

    @media (max-width: 600px) {
        .image-wrapper{
            width: 100vw !important;
            height:30vh !important;
            background-color:transparent;
        }
        .banner-img{
            width: 96vw !important;
            height: 30vh !important;
            object-fit:contain !important;
            overflow:hidden;
        }
        .proj-para-1{
            font-size:.8rem !important;
        }
        .proj-para{
            font-size:.6rem !important;
        }
        .proj-para-2{
            font-size:.5rem !important;
        }
        .proj-para-2-body{
            font-size: 2.25rem !important;
            line-height: 2.5rem !important;
            letter-spacing: .15rem !important;
          }
        .project-overview{
            padding: 5% 2% 0 2% !important;
        }
        .project-overview-details{
            padding-bottom: 0 !important;
        }
        .proj-para-1-body{
            font-size:1rem !important;
            margin-top: -20vh !important;
            margin-bottom: 2% !important;
        }
        .proj-para-body{
            font-size:.6rem;
            margin-bottom: 0 !important;
        }
        .img-container{
            padding-top:2% !important;
        }
        .image-wrapper-body{
            height:30vh !important;
            background-color:transparent;
        }
        .banner-img-body{
            width:96vw !important;
            height: 30vh !important;
            object-fit:contain;
            overflow:hidden;
            background-color:transparent;
        }
    }