.mo-title{
    font-family: "Montserrat", sans-serif;
    font-size:3.5rem;
    padding: 2% 2% 0 2%;
    text-align:left;
    font-weight:900;
    color:#EF6351;
    background-color: transparent;
}
.mo-title-two{
    font-family: "Sacramento", cursive !important;
    color: #EF6351;
    font-size: 3.5rem;
    line-height: .5rem;
    padding: 0 2% 5% 2%;
    font-weight: 600;
    letter-spacing: .25rem;
    transform: skew(-15deg); 
}